noesis.dll
tbb.dll
Noesis.lib
Dependencies/include/NoesisGUI/
*.ilk
*.log
*.pdb
*.opensdf
*.sdf
*.suo
*.vcxproj.user
ogre.cfg
obj/
ipch/
Dependencies/lib/OgreNsGuiBinding.lib
Dependencies/lib/OgreNsGuiBinding_d.lib
bin/Debug/BasicOgreSample_d*
bin/Debug/OgreTicTacToe_d*
bin/Release/BasicOgreSample*
bin/Release/OgreTicTacToe*
